html{
 overflow-y: scroll;
}

h1 { font-size: 3em;
	color: #06C;
	font-style: italic;
	border-top: 4px solid #06C;
	background-color: #b1feff;
	margin: 0 0 20px 0;
	text-shadow: 1px 1px 2px #424242;
	padding: 5px 0px;
	}
	
h2{ 
		color: #b1feff;
		font-style: bold;
		background-color: #06C;
		padding: 5px;
		clear: left;
		text-shadow: 1px 1px 2px #424242;
		}
h3	{
	color: #06C;
		font-style: bold;
		padding: 5px;
		clear: center;
}
			
p {
	margin-left: 40px;
	text-indent : 40px;
	color:#06C;
	padding:5px;
	line-height: 1.2em;
	 }

a {color:#06C;
font-style: italic;
}
		
img { float:left;
margin: 20px;
clear: left;}

body {
	margin: 0;
	background:url('../images/tile.png'), url('../images/arches.png');
	background-position:top-left, top-left;
	background-repeat: repeat-x, repeat;
	}

li{margin-left: 40px;
text-indent : 40px;
color:#06C;
line-height: 1.2em;}

.container{
	background:#fff;
	margin: 0 auto;
	width: 800px;
}

.navbar{
	list-style-type:none;
	margin:10px;
	padding:0;
}
.navbutton{
	display:inline;
	font-size:1.5em;
	padding-bottom:10px;
	margin:0;
	font-family: courier, sans-serif;
	text-decoration: none;
	float:left;
	
}
.navlink{
	text-decoration: none;
box-shadow: 1px 1px 2px #424242;
padding: 5px;
}
a:hover {color:black;
	background-color: #424242;}
	
bl {
	list-style: none; /* Removes default bullets. */
	}

bl li {
	padding-left: 0px; /* Indents list items, leaving room for background image on the left. */
	background: url('../images/loop.png') 0 0 no-repeat;
	padding-bottom: 20px;
	}
	
	
	
	
	
	article {
	width: 220px;
	padding: 10px;
	margin: 10px;
	float: left;
	background: #f3f3f3;
}

footer{
	clear: both;
	font-size: 12px;
	border-top: solid;
	border-color: #06C;
	border-width:5px;
	padding: 3px;
	text-align: center;
	
	 }
	 
	 footer p { text-indent: -40px;}
	
	img{ width: 200px;}
	
	.section portfolio {
	width: 800px;
	margin-right:25px;
	float:left;	
}


.art
{
opacity:0.4;
filter:alpha(opacity=40);
}
.art:hover
{
opacity:1.0;
filter:alpha(opacity=100); 
}