html{
 overflow-y: scroll;
}

h1 { font-size: 3em;
	color: #06C;
	font-style: italic;
	border-top: 4px solid #06C;
	background-color:#AEEEEE;
	margin: 0 0 20px 0;
	text-shadow: 1px 1px 2px #424242;
	padding: 5px 0px;
	}
	
h2{ 
		color: #AEEEEE;
		font-style: bold;
		background-color: #06C;
		padding: 5px;
		clear: left;
		text-shadow: 1px 1px 2px #424242;
		}
h3	{
	color: #06C;
		font-style: bold;
		padding: 5px;
		clear: center;
}
			
p {
	margin-left: 40px;
	text-indent : 40px;
	color:#06C;
	padding:5px;
	line-height: 1.2em;
	 }

a {color:#06C;
font-style: italic;
}
		
img { float:left;
margin: 20px;
clear: left;}

body {
	margin: 0;
	background:#C3E3FF url('../images/tile.png') repeat-x left top;
	}

li{margin-left: 40px;
text-indent : 40px;
color:#06C;
line-height: 1.2em;}

.container{
	background:#fff;
	margin: 0 auto;
	width: 800px;
}

.navbar{
	list-style-type:none;
	margin:0;
	padding:0;
}
.navbutton{
	display:inline;
	font-size:1.5em;
	padding:10px;
	margin:0;
	font-family: courier, sans-serif;
	text-decoration: none;
	
}
.navlink{
	text-decoration: none;
box-shadow: 1px 1px 2px #424242;
padding: 5px;
}
a:hover {color:black;
	background-color: #424242;}